.section-about {
  padding-top: 8rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("../img/section-adventure.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.section-tour {
  padding-top: 10rem;
  margin-bottom: 8rem;
}

.section-feedback {
  position: relative;
  padding: 8rem;
}
